{% extends 'app/auth_layout.html' %}
{% block pageDiv %}
<div class="signup">
    <div class="description">
        <h2>Create Account</h2>
    </div>
    <div class="form">
        {% if message %}
        <div class="alert">Already exists</div>
        {% endif %}
        <form action="{% url 'signup' %}" method="post">
            {% csrf_token %}
            <input type="text" name="username" id="" placeholder="Username">
            <input type="email" name="email" id="" placeholder="Email Address">
            <input type="password" name="password" id="" placeholder="Password">
            <input type="password" name="confirm" id="" placeholder="Confirm Password">
            <button type="submit" class="button">Sign Up</button>
        </form>
    </div>
{% endblock %}